<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<title><%=global.site_title%> - <%= title %></title>
<link href='https://fonts.googleapis.com/css?family=Droid+Sans' rel='stylesheet' type='text/css' />
<link href='https://fonts.googleapis.com/css?family=PT+Sans' rel='stylesheet' type='text/css' />
<link rel="stylesheet" type="text/css" href="/system.css" />
<script type="text/javascript"><%-req.getBaseJS()%></script>
<script type="text/javascript" src="/js/main.js"></script>
<% if(req.isAuthenticated){ %><script type="text/javascript" src="/js/browser.update.js"></script><% } %>
<script type="text/javascript" src="/system.js"></script>
<script type="text/javascript" src="/jquery-ui/js/jquery-ui-1.10.3.custom-aspa.min.js"></script>
<link rel="stylesheet" href="/jquery-ui/css/jquery-ui-1.10.3.custom.min.css" />
<script type="text/javascript" src="/js/jquery.colorbox-min.js"></script>
<link rel="stylesheet" href="/js/colorbox/colorbox.css" />
</head>

<body>
<div id="xmain">

<div id="xbody"><%-ejsext.BreadCrumbs(req, jsh, modelid)%><% if(title){ %>
<h1 style="display:inline-block;" id="xform_title"><%= title %></h1>
<% } %><%- body %>
</div><!-- xbody -->

<div class="clear"></div>
</div><!--xmain-->
</body>
</html>