<div class="xdialogblock jsHarmonyElement jsHarmonyElement_<%=jsh._instanceClass%> <%=jsh._dialogBaseClass%>" style="display:none;">
<div class="xdialogloadingblock xloadingcontainer" style="display:none;"><div><div class="xloadingbox">Loading<br/><img src="<%=jsh._PUBLICURL%>images/loading.gif" alt="Loading" title="Loading" /></div></div></div>
<div class="xdialogbox xalertbox base"><div class="xalertmessage"></div><div align="center"><input type="button" value="OK" class="button_ok" /></div></div>
<div class="xdialogbox xconfirmbox base"><div class="xconfirmmessage"></div><div align="center"><input type="button" value="OK" class="button_ok" style="margin-right:15px;" /> <input type="button" value="No" class="button_no" style="margin-right:15px;" /> <input type="button" value="Cancel" class="button_cancel" /></div></div>
<div class="xdialogbox xpromptbox base"><div class="xpromptmessage"></div><div align="right"><input class="xpromptfield" type="text"><br/><input type="button" value="OK" class="button_ok" style="margin-right:15px;" /> <input type="button" value="Cancel" class="button_cancel" /></div></div>
<div class="xdialogbox xtextzoombox base"><div class="xtextzoommessage"></div><div align="right"><textarea autocomplete="off" class="xtextzoomfield"></textarea><input type="button" value="OK" class="button_ok" style="margin-right:15px;" /> <input type="button" value="Cancel" class="button_cancel" /></div></div>
<div class="xdialogbox xhintsbox base">
  <div class="xhintsmessage"></div>
  <div align="right">
    <div class="xhints_listing"></div>
    <input type="button" value="Insert" class="button_ok" style="margin-right:15px;" />
    <input type="button" value="Cancel" class="button_cancel" />
  </div>
  <script type="text/x-ejs-template" class="xhints_rowtemplate">
    <div class="xhints_row">
      <label>
      <input type="checkbox">
      <span></span>
      </label>
    </div>
  </script>
</div>
</div>
<div class="xdebuginfo jsHarmonyElement jsHarmonyElement_<%=jsh._instanceClass%> <%=jsh._dialogBaseClass%>" style="display:none;"></div>
<div class="xdebugconsole jsHarmonyElement jsHarmonyElement_<%=jsh._instanceClass%> <%=jsh._dialogBaseClass%>" style="display:none;">
  <div class="debug-panel">
    <div class="resizer res-ew"></div>
    <div class="resizer res-ns"></div>
    <header>Debug Console
      <div class="controls">
        <i class="material-icons" data-action="toggleSettings" title="Settings">&#xe8b8;</i>
        <i class="material-icons dockRight" data-action="dockRight" title="Dock to the Right">&#xe31c;</i>
        <i class="material-icons dockBottom" data-action="dockBottom" title="Dock to the Bottom">&#xe258;</i>
        <i class="material-icons" data-action="minimizeWindow" title="Minimize">&#xe313;</i>
        <i class="material-icons" data-action="close" title="Close">&#xe5cd;</i>
      </div>
    </header>
    <div class="debug-settings"></div>
    <div class="xdebuginfo-body"></div>
  </div>
  <div class="debug-panel-minimized" style="display: none;">
    <div class="controls"><i class="material-icons" data-action="expandWindow">&#xe895;</i></div>
  </div>
</div>
<div class="xloadingblock jsHarmonyElement jsHarmonyElement_<%=jsh._instanceClass%> <%=jsh._dialogBaseClass%>" style="display:none;"><div><div class="xloadingbox">Loading<br/><img src="<%=jsh._PUBLICURL%>images/loading.gif" alt="Loading" title="Loading" /></div></div></div>
