<% 
var button_groups = {};
if('buttons' in model) for(var i=0;i<model.buttons.length;i++){ 
  var button = model.buttons[i];
  if(button.nl){ %><br/><% }
  if(button.group && !(button.group in button_groups)){
    button_groups[button.group] = 1;
    %><a href="#" data-group="<%=button.group%>" data-model="<%=model.id%>" onclick="XForm_ShowButtonGroup(event,this); return false;" data-model="<%=model.id%>" class="xform_button xelem<%=model.id%> xactions_dropdown"><span><%-xejs.escapeHTMLN(button.group)%></span><span class="material-icons down_arrow">&#xE313;</span></a><%
  }
  %><a href="<%-button.url%>" data-group="<%=button.group%>" data-model="<%=model.id%>" onclick="<%-button.onclick%>" data-actions="<%-button.actions%>" style="<%-xejs.visible(XExt.access(button.actions,'BIUD'))%><%-button.style%>" data-model="<%=model.id%>" class="xform_button xelem<%=model.id%> xbutton_<%=xejs.onlyAlphaNum(button.text)%> <%=button.class%> <%-xejs.iif(button.nl,'first')%>> <%-xejs.iif(button.group,'grouped')%>"><img src="/images/icon_<%=button.icon%>.png" alt="<%=button.text%>" title="<%=button.text%>" /><span><%-xejs.escapeHTMLN(button.text)%></span></a><%
}
%>