<%-jsh.RenderView('jsh_embed.js',ejsparams)%>
<div class="xbodyhead xelem<%=model.class%>">
<% if(model.topmost) { %><!--%%%EJSPREPEND%%%--><% } %>
<% if(!model.topmost && (model.title !== undefined)) { %>
<h1 class="xtitle xelem<%=model.class%> xtitle<%=model.class%>" style="display:inline-block;padding:0px 0 0px 0;"><%=model.title%></h1>
<% }

var xactiontype = 'secondarygrid';
if(model.topmost) xactiontype = 'top';
else if((typeof parent != 'undefined') && (parent.topmost) && ('tabpos' in parent) && (parent.tabpos=='top')) xactiontype = 'auxtop';
%>
<h1 class="xtitlecaption xtitlecaption<%=model.class%>" style="display:inline-block;"><a href="#" onclick="<%-instance%>.$root('.xfilter_<%=model.class%>').slideToggle(); return false;">(filtered)</a></h1>
<div class="xactions <%=xactiontype%> xelem<%=model.class%>">
  <%-jsh.RenderView('jsh_buttons',ejsparams)%>
  <% if(model.inlinepopup){ %><a href="#" onclick="<%-instance%>.XExt.popupClear('<%=model.id%>',this); return false;" style="<%-xejs.visible(xejs.showSystemButton(model,'clear'))%>"><img src="/images/icon_delete.png" alt="Clear" title="Clear" />Clear</a><% } %>
  <% if(model.topmost && (model.commitlevel) && (model.commitlevel != 'none')){ %><a href="#" class="save" onclick="<%-instance%>.XPage.Save();return false;" style="display:none;"><img src="/images/icon_save.png" alt="Save" title="Save" />Save</a><% } %>
  <% if(!model.templates.grid){ %><a href="#" onclick="<%-js('xmodel.controller.AddRow();')%>" class="xbuttonadd" style="<%-xejs.visible(xejs.showSystemButton(model,'add') && model.commitlevel && (model.commitlevel != 'none') && XExt.access(model.actions,'I'))%>"><img src="/images/icon_add.png" alt="Add" title="Add" />Add</a><% } %>
  <a href="#" class="xfilterbutton xfilterbutton<%=model.class%>" onclick="<%-js('xmodel.controller.FilterButton();')%>" style="<%-xejs.visible(xejs.showSystemButton(model,'filter'))%>"><img src="/images/icon_filter.png" alt="Filter" title="Filter" /><span>Filter</span></a>
  <a href="/" onclick="<%-js('jsh.XPage.Print();')%>" style="<%-xejs.visible(model.topmost && xejs.showSystemButton(model,'print'))%>"><img src="/images/icon_print.png" alt="Print" title="Print" />Print</a>
  <a href="#" onclick="<%-js('xmodel.controller.Export();')%>" style="<%-xejs.visible(xejs.showSystemButton(model,'export'))%>"><img src="/images/icon_export.png" alt="Export" title="Export" />Export</a>
  <a href="<%-model.helpurl%>" onclick="<%-model.helpurl_onclick%>" style="<%-xejs.visible(model.topmost && xejs.showSystemButton(model,'help'))%>"><img src="/images/icon_help.png" alt="Help" title="Help" />Help</a>
</div>
<div data-id="<%=model.id%>" class="xfilter xfilter_<%=model.class%>"></div>
<script class="xfilter_template_<%=model.class%>" type="text/x-ejs-template">
  <# 
    var comparison_string = [];
    <%-instance%>.XExt.pushLOV(comparison_string,'contains','Contains');
    <%-instance%>.XExt.pushLOV(comparison_string,'notcontains','Does Not Contain');
    <%-instance%>.XExt.pushLOV(comparison_string,'=','Equals');
    <%-instance%>.XExt.pushLOV(comparison_string,'<>','Does Not Equal');
    <%-instance%>.XExt.pushLOV(comparison_string,'beginswith','Begins With');
    <%-instance%>.XExt.pushLOV(comparison_string,'endswith','Ends With');
    <%-instance%>.XExt.pushLOV(comparison_string,'null','Is Blank');
    <%-instance%>.XExt.pushLOV(comparison_string,'notnull','Is Not Blank');
    var comparison_numeric = [];
    <%-instance%>.XExt.pushLOV(comparison_numeric,'=','Equals');
    <%-instance%>.XExt.pushLOV(comparison_numeric,'<>','Does Not Equal');
    <%-instance%>.XExt.pushLOV(comparison_numeric,'>','>');
    <%-instance%>.XExt.pushLOV(comparison_numeric,'>=','>=');
    <%-instance%>.XExt.pushLOV(comparison_numeric,'<','<');
    <%-instance%>.XExt.pushLOV(comparison_numeric,'<=','<=');
    <%-instance%>.XExt.pushLOV(comparison_numeric,'null','Is Blank');
    <%-instance%>.XExt.pushLOV(comparison_numeric,'notnull','Is Not Blank');
    var comparison_date = comparison_numeric;
    var comparison_object = [];
    <%-instance%>.XExt.pushLOV(comparison_object,'=','Equals');
    <%-instance%>.XExt.pushLOV(comparison_object,'<>','Does Not Equal');
    <%-instance%>.XExt.pushLOV(comparison_object,'null','Is Blank');
    <%-instance%>.XExt.pushLOV(comparison_object,'notnull','Is Not Blank');
    var comparison_sound = function(comparison,search_sound){
      var rslt = comparison.slice(0);
      if(search_sound){ <%-instance%>.XExt.pushLOV(comparison_object,'soundslike','Sounds Like'); }
      return rslt;
    }
    #>
    <# for(var i=0;i<data.Items.length;i++){ var selected_column = null; #>
    <div class="xfilter_expression xfilter_expression_<#=i#>">
      Filter Column: &nbsp;<select class="xfilter_column" onchange="<%-js('xmodel.controller.FilterColumnChange();')%>"><option value="ALL">Any...</option><# for(var j=0;j<data.Fields.length;j++){ if(!data.Fields[j].caption) continue; #><option value="<#=data.Fields[j].name#>" <# if(data.Fields[j].name==data.Items[i].Column){ selected_column = data.Fields[j]; #>selected="Selected"<# } #>><#=data.Fields[j].caption#></option><# } #></select>&nbsp; 
      <div class="xfilter_comparison_div" style="display:inline-block;width:140px;">
        <# if(selected_column && (selected_column.comparison_type=='string')){ #>
          <select class="xfilter_comparison" onchange="<%-js('xmodel.controller.FilterComparisonChange();')%>">
            <#-xejs.renderLOV(comparison_sound(comparison_string,selected_column.search_sound),data.Items[i].Comparison)#>
          </select>
        <# } else if(selected_column && (selected_column.comparison_type=='numeric')){ #>
          <select class="xfilter_comparison" onchange="<%-js('xmodel.controller.FilterComparisonChange();')%>">
            <#-xejs.renderLOV(comparison_numeric,data.Items[i].Comparison)#>
          </select>
        <# } else if(selected_column && (selected_column.comparison_type=='date')){ #>
          <select class="xfilter_comparison" onchange="<%-js('xmodel.controller.FilterComparisonChange();')%>">
            <#-xejs.renderLOV(comparison_date,data.Items[i].Comparison)#>
          </select>
        <# } else if(selected_column && (selected_column.comparison_type=='object')){ #>
          <select class="xfilter_comparison" onchange="<%-js('xmodel.controller.FilterComparisonChange();')%>">
            <#-xejs.renderLOV(comparison_object,data.Items[i].Comparison)#>
          </select>
        <# } else { #>
        containing the value
          <select class="xfilter_comparison" onchange="<%-js('xmodel.controller.FilterComparisonChange();')%>" style="display:none;">
          </select>
        <# } #>
      </div>&nbsp; 
      <input type="text" class="xfilter_value <#=xejs.iif((selected_column && (selected_column.comparison_type=='date')),'datepicker')#>" value="<#=xejs.iif((data.Items[i].Comparison=='null')||(data.Items[i].Comparison=='notnull'),'',data.Items[i].Value)#>" onkeyup="<%-js('xmodel.controller.FilterKeyUp(event);')%>" style="<#=xejs.iif((data.Items[i].Comparison=='null')||(data.Items[i].Comparison=='notnull'),'visibility:hidden;')#>" /> 
        <# if(i==(data.Items.length-1)){ #>
        <a class="xfilter_apply" href="#" style="width:80px;" onclick="<%-js('xmodel.controller.FilterApply();')%>"><img src="/images/icon_search.png" alt="Apply Filter" title="Apply Filter" />GO</a>
        <a class="xfilter_add" href="#" style="width:130px;text-align:right;" onclick="<%-js('xmodel.controller.FilterAdd();')%>">Add Criteria<img src="/images/icon_add.png" alt="Add Criteria" title="Add Criteria" /></a>
        <# } else { #>
        <span style="display:inline-block;width:80px;">&nbsp; <a style="display:inline-block;cursor:hand;cursor:pointer;" class="xfilter_join_lbl" onclick="<%-js('xmodel.controller.FilterJoinChange();')%>"><#=data.Items[i].Join#></a> </span>
        <a class="xfilter_remove" href="#" style="width:130px;text-align:right;" onclick="<%-js('xmodel.controller.FilterRemove();')%>">Remove Criteria<img src="/images/icon_remove.png" alt="Remove Criteria" title="Remove Criteria" /></a>
        <input type="hidden" class="xfilter_join" value="<#=data.Items[i].Join#>">
        <# } #>
    </div>
    <# } #>
  </script>
  </div>
  <% if(!model.templates.grid){ %>
  <table class="xtbl xelem<%=model.class%> xform<%=model.class%>" data-id="<%=model.id%>" style="<%=model.tablestyle%>">
    <thead>
      <tr>
        <% if(model.inlinepopup){ %><th style="text-align:center;" nowrap>Select</th><% } %>
        <% for(var i=0;i<model.fields.length;i++){ var field = model.fields[i]; 
          if(!('caption' in field)) continue;
          if(('actions' in field) && (field.actions != '')){
            if(!XExt.access(field.actions,'B')) continue;
          }
          else if (!('html' in field)) continue; 
          var fieldclass = '';
          if(field.control && (field.control=='hidden')) fieldclass += 'tdhidden';
          %>
        <th nowrap class="<%=field.sortclass%> thead<%=field.name%> <%=field.captionclass%> <%=fieldclass%>" style="<%=field.captionstyle%>"><% if(field.disable_sort){ %><%=field.caption%><% } else { %><a href="#" onClick="<%-js('xmodel.controller.Sort(this, \''+XExt.escapeHTML((field.lov && !field.lov.showcode)?('__'+jsh.uimap.codetxt+'__'+field.name):field.name)+'\');')%>"><%=field.caption%></a><% } %></th>
        <% } %>
        <%-xejs.iif(model.duplicate && model.commitlevel && (model.commitlevel != 'none') && XExt.access(model.actions,'I'),'<th></th>')%>
        <%-xejs.iif(model.commitlevel && (model.commitlevel != 'none') && XExt.access(model.actions,'D'),'<th></th>')%>
      </tr>
    </thead>
    <tbody class="xgrid_<%=model.class%>_placeholder"></tbody>
    <script class="xgrid_<%=model.class%>_template" type="text/x-ejs-template" data-target=".xgrid_<%=model.class%>_placeholder">
      <# for(var j=0;j<data.length;j++){ var datarow=data[j]; if(!rowid) rowid = j; #>
      <tr class="<#=(rowid%2==1?'even':'odd')#> <%-model.rowclass%> xrow_<%=model.class%> xrow" style="<%-model.rowstyle%>" data-id="<#=rowid#>">
        <% if(model.inlinepopup){ %><td align="center"><a href="#" onclick="<%-instance%>.XExt.popupSelect('<%=model.id%>',this); return false;">Select</a></td><% } %>
        <% for(var i=0;i<model.fields.length;i++){ var field = model.fields[i]; 
          if(!('caption' in field)) continue;
          if(('actions' in field) && (field.actions != '')){ 
            if(!XExt.access(field.actions,'B')) continue;
          }
          else if (!('html' in field)) continue;
          var format = 'undefined';
          if('format' in field) format = JSON.stringify(field.format);
          var fieldclass = '';
          if(field.control && (field.control=='hidden')) fieldclass += 'tdhidden';
          var maxlength = XExt.getMaxLength(field);
          %>
          <td style="<%=field.cellstyle%>" class="<%=field.cellclass%> <%=xejs.iif(field.control=='checkbox','xcheckbox_column')%> <%=xejs.iif(field.popuplov,'xpopuplov_column')%> <%=fieldclass%>"><% 
        if(!('control' in field) || (field.control=='label') || (field.control=='html')){
              %><div data-id="<%=field.name%>" style="<%=field.controlstyle%>" class="<%=field.controlclass%> <%if(!('link' in field) && !('html' in field)){%><%=field.name%> xform_ctrl xelem<%=model.class%> xform_label<% } %>">
                <% if(('link' in field) && (XExt.beginsWith(field.link,'#select'))){ %><a href="<%-field.link%>" onclick="<%-instance%>.XExt.popupSelect('<%=model.id%>',this);return false;" >
                <% } else if('link' in field){ %><a href="<%-field.link%>" class="<%=field.name%> xform_ctrl xelem<%=model.class%> xform_label" <%-xejs.showProp('onclick',field.link_onclick,field.link=='#','return (function(){'+jslocals,'}).call(this);')%> ><% if(field.name && (field.control != 'html')){  %><# if(data[j]['<%=field.name%>']){ #><% } } %>
                <% if('html' in field){ %>
                  <%-field.html%>
                <% } else if('value' in field){ %>
                  <%-field.value%>
                <% } else if(field.control=='html'){ %>
                  <#-data[j]['<%=field.name%>']#>
                <% } else if(field.lov && !field.lov.showcode) { %>
                  <#=<%-instance%>.XFormat.Apply(<%-format%>,data[j]['__'+jsh.uimap.codetxt+'__'+'<%=field.name%>'])#>
                <% } else { %>
                  <#=<%-instance%>.XFormat.Apply(<%-format%>,data[j]['<%=field.name%>'])#>
                <% } %>
                <% if('link' in field){ if(!(XExt.beginsWith(field.link,'#select')) && field.name && (field.control != 'html')){ %><# } #><% } %></a><% } %>
              </div><%
                }
        else if(field.control=='textbox'){ %><input type="<%=xejs.getInputType(field)%>" data-id="<%=field.name%>" value="<%=xejs.GetValue(field)%>" style="<%=field.controlstyle%>" class="<%=field.name%> xform_ctrl xelem<%=model.class%> <%=field.controlclass%>" <%-xejs.iif(maxlength >= 0,'maxlength="'+maxlength+'"')%> /><% }
        else if(field.control=='textzoom'){ %><div class="nobr"><textarea data-id="<%=field.name%>" name="<%=field.name%>" style="<%=field.controlstyle%>" class="<%=field.name%> xform_ctrl xform_ctrl_textzoom xelem<%=model.class%> <%=field.controlclass%>"><%=xejs.GetValue(field)%></textarea><a href="#" class="xform_ctrl xtextzoom icon" onclick="var jctrl = <%-instance%>.$(this).prev('.<%=field.name%>'); <%-instance%>.XExt.ZoomEdit(jctrl.val(),'<%=field.caption_ext||field.caption%>',{readonly:!jctrl.hasClass('editable')},function(rslt){ <%-instance%>.XExt.setFormControl(<%-instance%>.XExt.getForm('<%=model.id%>'),'<%=field.name%>',rslt); jctrl.focus(); }); return false;"><img src="/images/icon_search.png" height="14" /></a></div><% }
        else if(field.control=='date'){ %><input data-id="<%=field.name%>" style="<%=field.controlstyle%>" class="<%=field.name%> xform_ctrl xelem<%=model.class%> datepicker <%=field.controlclass%>" value="<%=xejs.GetValue(field)%>" maxlength="10" /><% }
        else if(field.control=='textarea'){ %><textarea data-id="<%=field.name%>" style="<%=field.controlstyle%>" class="<%=field.name%> xform_ctrl xelem<%=model.class%> <%=field.controlclass%>"><%=xejs.GetValue(field)%></textarea><% }
        else if(field.control=='dropdown'){ %><select data-id="<%=field.name%>" style="<%=field.controlstyle%>" class="<%=field.name%> xform_ctrl xelem<%=model.class%> dropdown <%=field.controlclass%>"><option><%=xejs.GetValue(field)%></option></select><% }
        else if(field.control=='hidden'){ %><input type="hidden" data-id="<%=field.name%>" value="<%=xejs.GetValue(field)%>" class="<%=field.name%> xform_ctrl xelem<%=model.class%> <%=field.controlclass%>" /><% }
        else if(field.control=='checkbox'){ %><div class="xform_ctrl checkbox_container xelem<%=model.class%>"><input data-id="<%=field.name%>" type="checkbox" style="<%=field.controlstyle%>" class="<%=field.name%> xform_ctrl checkbox xelem<%=model.class%> <%=field.controlclass%>" /></div><% }
          if(field.popuplov){ %><a href="#" data-id="<%=field.name%>_xlookup" class="xform_ctrl xlookup icon <%=field.name%>_xlookup" data-codeval="<%=field.controlparams.codeval%>" data-model="<%=model.id%>" onclick="<%-instance%>.XExt.popupShow('<%=field.model.id%>','<%=field.name%>','<%=field.caption_ext||field.caption%> Selection',<%-instance%>.$(this).prev('.<%=field.name%>'),this,{OnControlUpdate:function(obj,e){ <%-instance%>.XModels['<%=model.id%>'].controller.editablegrid.ControlUpdate(obj,e); }})"><img src="/images/icon_search.png" height="14" style="position:relative;top:-1px;" /></a><% }
            %></td>
          <% } %>
        <% if(model.duplicate && model.commitlevel && (model.commitlevel != 'none') && XExt.access(model.actions,'I')){ %><td align="center"><a href="#" data-model="<%=model.id%>" data-actions="I" class="row_independent" onclick="<%-js('xmodel.controller.DuplicateRow(\''+XExt.escapeHTML(model.duplicate.model.id)+'\',<#=rowid#>, this, \''+XExt.escapeHTML((model.duplicate.bindings?JSON.stringify(model.duplicate.bindings):'{}'))+'\');')%>" style="<%-xejs.visible(XExt.access(model.actions,'I'))%>"><img src="/images/icon_copy.png" height="14" alt="Duplicate" title="Duplicate" /></a></td><%}%>
        <% if(model.commitlevel && (model.commitlevel != 'none') && XExt.access(model.actions,'D')){%><td align="center"><a href="#" onclick="<%-js('xmodel.controller.DeleteRow(<#=rowid#>);')%>" style="<%-xejs.visible(XExt.access(model.actions,'D'))%>"><img src="/images/icon_delete2.png" height="14" alt="Delete" title="Delete" /></a></td><%}%>
      </tr>
      <# } #>
    </script>
  </table>
  <% 
  }
  for(var i=0;i<model.fields.length;i++){ var field = model.fields[i]; 
    if(field.popuplov){
      var popup_model = null;
      if(_.isString(field.model)) popup_model = field.model;
      else {
        popup_model = _.extend({},field.model);
        popup_model.hide_system_buttons = _.union(popup_model.hide_system_buttons,['export']); 
        popup_model.inlinepopup = 1;
      }
      %>
      <div style="display:none;">
        <div class="xsubform xpopup xelem<%=model.class%> popup_<%=field.name%>">
          <div class="xpanel" style="<%=field.controlparams.popupstyle%>">
            <%-jsh.Render(popup_model,model)%>
          </div>
        </div>
      </div>
      <%
          }
  }
%>
<% if(model.duplicate){
  var popup_model = null;
  if(_.isString(model.duplicate.model)) popup_model = model.duplicate.model;
  else {
    popup_model = _.extend({},model.duplicate.model);
    popup_model.hide_system_buttons = _.union(popup_model.hide_system_buttons,['export']); 
    popup_model.inlinepopup = 1;
  }
  %>
  <div style="display:none;">
    <div class="xsubform xpopup xelem<%=model.class%> colorbox_inline popup_<%=model.class%>_duplicate">
      <div class="xpanel" style="<%=model.duplicate.popupstyle%>">
        <%-jsh.Render(popup_model,model)%>
        <div style="text-align:center;padding-top:8px;">
          <input type="button" data-model="<%=popup_model.id%>" class="xform_ctrl xelem<%=popup_model.class%> style="padding:3px 8px;" value="Duplicate" onclick="<%-instance%>.XPage.Duplicate('<%=popup_model.id%>','<%-XExt.escapeHTMLQ(XExt.escapeJS(model.duplicate.link||''))%>','<%-XExt.escapeHTMLQ(XExt.escapeJS(model.duplicate.link_options||''))%>'); return false;" />
          <input type="button" data-model="<%=popup_model.id%>" class="xform_ctrl xelem<%=popup_model.class%> style="padding:3px 8px;" value="Cancel" onclick="<%-instance%>.$.colorbox.close(); return false;" />
        </div>
      </div>
    </div>
  </div>
<% } %>
<%-jsh.RenderEJS(model.ejs,ejsparams)%>