<% 
/*
Copyright 2017 apHarmony

This file is part of jsHarmony.

jsHarmony is free software: you can redistribute it and/or modify
it under the terms of the GNU Lesser General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

jsHarmony is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Lesser General Public License for more details.

You should have received a copy of the GNU Lesser General Public License
along with this package.  If not, see <http://www.gnu.org/licenses/>.
*/
var dflt_captionstyle = "";
var leadingfield = true;
for(var i=0;i<model.fields.length;i++){ 
  var field = model.fields[i];
  //hasAction previously validated against "B" - expanded to BIU to render "I"-only fields
  if(!('control' in field)) continue; if(!(XExt.hasAction(field.actions,'BIU'))) continue;
  if(('caption' in field) && (field.control!='subform') && 
     ('captionstyle' in field) && (field.captionstyle != "") && (dflt_captionstyle == "")){
    dflt_captionstyle = field.captionstyle;
  }
  if(('nl' in field) && (field.control!='hidden')){ leadingfield = true; %><br/><% }
  if((field.control!='subform') && (field.control!='hidden')){
    var captionclass = 'xform_caption '+(field.captionclass||'');
    if((field.control=='textarea')||(field.control=='textzoom')) captionclass += ' xform_caption_textarea';
    else if(field.control=='htmlarea') captionclass += ' xform_caption_htmlarea';
    else if(field.control=='image') captionclass += ' xform_caption_image';
    if(('caption' in field) && (field.caption.length > 0)) { 
      if(('nl' in field) && !('captionstyle' in field) && (dflt_captionstyle != "")){ 
        %><div class="<%=captionclass%> <%=xejs.iif(leadingfield,'leading')%>" style="<%=dflt_captionstyle%>"><%-xejs.escapeHTMLN(field.caption+((field.caption != '')?': ':''))%></div><%
      }
      else {
        %><div class="<%=captionclass%> <%=xejs.iif(leadingfield,'leading')%>" style="<%=field.captionstyle%>"><%-xejs.escapeHTMLN(field.caption+((field.caption != '')?': ':''))%></div><%
      }
    }
    else if(model.onecolumn) {
      %><div class="<%=captionclass%> <%=xejs.iif(leadingfield,'leading')%>" style="<%=field.captionstyle%>"></div><%
    }
  }
  var maxlength = XExt.getMaxLength(field);
  if((field.control=='html') || (field.control=='label')){
    //Render link
    if('link' in field){
      %><a href="#" data-url="<%-field.link%>" class="xform_link" onclick="<%-js(field.link_onclick)%>"><%
    }
    //Render Control
    if(field.control=='html' && ('value' in field)){
      %><%-XExt.renderClientEJS(field.value,ejsparams)%><%
    }
    else if(field.control=='html'){
      %><div data-id="<%=field.name%>" style="<%=field.controlstyle%>" class="<%=field.name%> xform_ctrl xform_html xelem<%=model.class%> <%=field.controlclass%>" onclick="<%-js(field.onclick,{ returnFalse:0 })%>"></div><%
    }
    else if(field.control=='label'){
      %><div data-id="<%=field.name%>" style="<%=field.controlstyle%>" class="<%=field.name%> xform_ctrl xform_label xelem<%=model.class%> <%=field.controlclass%> <%=xejs.iif(field.value,'xform_label_static')%>" onclick="<%-js(field.onclick,{ returnFalse:0 })%>"><%
      if(field.value && (field.value.indexOf('<#')>=0)){  }
      else if(field.value){ %><%-field.value%><% }
      else { %><%=xejs.GetValue(field)%><% }
      %></div><% 
    }
    //Finish link
    if('link' in field){ %></a><% }
  }
  if(field.control=='textbox'){ %><input data-id="<%=field.name%>" type="<%=xejs.getInputType(field)%>" value="<%=xejs.GetValue(field)%>" style="<%=field.controlstyle%>" class="<%=field.name%> xform_ctrl xelem<%=model.class%> <%=field.controlclass%>" <%-xejs.iif(maxlength >= 0,'maxlength="'+maxlength+'"')%> /><% }
  if(field.control=='textzoom'){ %><textarea data-id="<%=field.name%>" style="<%=field.controlstyle%>" class="<%=field.name%> xform_ctrl xform_ctrl_textzoom xelem<%=model.class%> <%=field.controlclass%>"><%=xejs.GetValue(field)%></textarea><a href="#" class="xform_ctrl xtextzoom icon" onclick="var jctrl = <%-instance%>.$(this).prev('.<%=field.name%>'); <%-instance%>.XExt.ZoomEdit(jctrl.val(),'<%=field.caption_ext||field.caption%>',{readonly:!jctrl.hasClass('editable')},function(rslt){ <%-instance%>.XExt.setFormControl(<%-instance%>.XExt.getForm('<%=model.id%>'),'<%=field.name%>',rslt); jctrl.focus(); }); return false;"><img src="/images/icon_search.png" height="14" /></a><% }
  if(field.control=='password'){ %><input data-id="<%=field.name%>" type="password" value="<%=xejs.GetValue(field)%>" style="<%=field.controlstyle%>" class="<%=field.name%> xform_ctrl xelem<%=model.class%> <%=field.controlclass%>" /><% }
  if(field.control=='dropdown'){ %><select data-id="<%=field.name%>" style="<%=field.controlstyle%>" class="<%=field.name%> xform_ctrl xelem<%=model.class%> dropdown <%=field.controlclass%>"><option><%=xejs.GetValue(field)%></option></select><% }
  if(field.control=='date'){ %><input data-id="<%=field.name%>" style="<%=field.controlstyle%>" class="<%=field.name%> xform_ctrl xelem<%=model.class%> datepicker <%=field.controlclass%>" value="<%=xejs.GetValue(field)%>" maxlength="10" /><% }
  if(field.control=='textarea'){ %><textarea data-id="<%=field.name%>" name="<%=field.name%>" style="<%=field.controlstyle%>" class="<%=field.name%> xform_ctrl xform_ctrl_textarea xelem<%=model.class%> <%=field.controlclass%>"><%=xejs.GetValue(field)%></textarea><% }
  if(field.control=='htmlarea'){ %><textarea data-id="<%=field.name%>" id="<%=model.class%>_<%=field.name%>" name="<%=field.name%>" style="<%=field.controlstyle%>" class="<%=field.name%> xform_ctrl xform_ctrl_htmlarea xelem<%=model.class%> <%=field.controlclass%>"><%=xejs.GetValue(field)%></textarea><% }
  if(field.control=='hidden'){ %><input data-id="<%=field.name%>" type="hidden" class="<%=field.name%> xform_ctrl xelem<%=model.class%> <%=field.controlclass%>" value="<%=xejs.GetValue(field)%>" /><% }
  if(field.control=='file_upload'){ %>
      <div data-id="<%=field.name%>" style="<%=field.controlstyle%>" class="<%=field.name%> xform_file_upload xelem<%=model.class%> <%=field.controlclass%>">
        <% if(field.controlparams.download_button){ %><a class="<%=field.name%>_download linkbutton xform_file_download_button" href="#" onclick="<%-instance%>.XPage.DownloadFile(<%=JSON.stringify(model.id)%>,<%=JSON.stringify(field.name)%>,<%=JSON.stringify(field.caption_ext||field.caption)%>);return false;"><img src="/images/icon_download.png" /><%=field.controlparams.download_button%></a><% } %>
        <% if(field.controlparams.preview_button){ %><a class="<%=field.name%>_preview linkbutton xform_file_preview_button" href="#" onclick="<%-instance%>.XPage.FilePreview(<%=JSON.stringify(model.id)%>,<%=JSON.stringify(field.name)%>,<%=JSON.stringify(field.caption_ext||field.caption)%>);return false;"><img src="/images/icon_search.png" /><%=field.controlparams.preview_button%></a><% } %>
        <a class="<%=field.name%>_upload linkbutton xform_file_upload_button" href="#" onclick="<%-instance%>.XPage.FileUploadDialog(<%=JSON.stringify(model.id)%>,<%=JSON.stringify(field.name)%>,<%=JSON.stringify(field.caption_ext||field.caption)%>);return false;"><img src="/images/icon_upload.png" /><%=field.controlparams.upload_button%></a> 
        <a class="<%=field.name%>_delete linkbutton xform_file_delete_button" href="#" onclick="<%-instance%>.XPage.FileDelete(<%=JSON.stringify(model.id)%>,<%=JSON.stringify(field.name)%>,<%=JSON.stringify(field.caption_ext||field.caption)%>);return false;"><img src="/images/icon_delete.png" /><%=field.controlparams.delete_button%></a>
        <img class="<%=field.name%>_thumbnail xform_file_thumbnail" />
        <input type="hidden" data-id="<%=field.name%>_token" class="<%=field.name%>_token xform_file_token xform_ctrl xelem<%=model.class%> <%=field.controlclass%>" value="" />
        <input type="hidden" data-id="<%=field.name%>_dbdelete" class="<%=field.name%>_dbdelete xform_file_dbdelete xform_ctrl xelem<%=model.class%> <%=field.controlclass%>" value="" />
        <input type="hidden" data-id="<%=field.name%>_dbexists" class="<%=field.name%>_dbexists xform_file_dbexists xform_ctrl xelem<%=model.class%> <%=field.controlclass%>" value="<%=xejs.GetValue(field)%>" />
      </div>
  <% }
  if(field.control=='file_download'){ %>
      <div data-id="<%=field.name%>" style="<%=field.controlstyle%>" class="<%=field.name%> xform_file_download xelem<%=model.class%> <%=field.controlclass%>">
        <% if(field.controlparams.download_button){ %><a class="<%=field.name%>_download linkbutton xform_file_download_button" href="#" onclick="<%-instance%>.XPage.DownloadFile(<%=JSON.stringify(model.id)%>,<%=JSON.stringify(field.name)%>,<%=JSON.stringify(field.caption_ext||field.caption)%>);return false;"><img src="/images/icon_download.png" /><%=field.controlparams.download_button%></a><% } %>
        <input type="hidden" data-id="<%=field.name%>_dbexists" class="<%=field.name%>_dbexists xform_file_dbexists xform_ctrl xelem<%=model.class%> <%=field.controlclass%>" value="<%=xejs.GetValue(field)%>" />
      </div>
  <% }
  if(field.control=='image'){ %>
      <% if(field.controlparams.preview_on_click){ %><a class="<%=field.name%>_preview xform_image_preview xelem<%=model.class%>" href="#" onclick="<%-instance%>.XPage.FilePreview(<%=JSON.stringify(model.id)%>,<%=JSON.stringify(field.name)%>,<%=JSON.stringify(field.caption_ext||field.caption)%>);return false;"><% } %>
      <img data-id="<%=field.name%>" style="<%=field.controlstyle%>" class="<%=field.name%> xform_image <%=field.name%>_thumbnail xform_file_thumbnail xelem<%=model.class%> <%=field.controlclass%>" />
      <% if(field.controlparams.preview_on_click){ %></a><% } %>
      <input type="hidden" data-id="<%=field.name%>_dbexists" class="<%=field.name%>_dbexists xform_file_dbexists xform_ctrl xelem<%=model.class%> <%=field.controlclass%>" value="<%=xejs.GetValue(field)%>" />
  <% }
  if(field.control=='subform'){ if(('actions' in field) && !xejs.getActions(model.actions,field.actions)) continue; %>
    <div class="<%=field.name%> xsubform <%=field.controlclass%>" data-id="<%=field.name%>" style="<%=field.controlstyle%>">
      <% if(field.caption){ %><a class="xtab selected last"><%=field.caption%></a><% } %>
      <div class="xpanel">
	      <%-jsh.Render(field.model,model,field)%>
      </div>
    </div>
  <% }
  if(field.control=='button'){
    if('link' in field){ %><input <%-xejs.showProp('data-id',field.name)%> type="button" class="xform_ctrl xform_ctrl_button xelem<%=model.class%> <%=field.name%> <%=field.controlclass%>" style="<%=field.controlstyle%>" value="<%-xejs.escapeHTMLN(field.value)%>" data-url="<%-field.link%>" onclick="<%-js(field.onclick,{ returnFalse:0 })%>" /><% }
    else{ %><input <%-xejs.showProp('data-id',field.name)%> type="button" data-model="<%=model.id%>" class="xform_ctrl xform_ctrl_button xelem<%=model.class%> <%=field.name%> <%=field.controlclass%>" style="<%=field.controlstyle%>" value="<%-xejs.escapeHTMLN(field.value)%>" onclick="<%-js(field.onclick,{ returnFalse:0 })%>" /><% }
  }
  if(field.control=='linkbutton'){
    if('link' in field){ %><a <%-xejs.showProp('data-id',field.name)%> href="#" data-url="<%-field.link%>" style="<%=field.controlstyle%>" class="xform_ctrl xelem<%=model.class%> <%=field.name%> <%=field.controlclass%> xform_label <%=xejs.iif(field.value,'xform_label_static')%>" onclick="<%-js(field.onclick)%>"><%=xejs.ifnull(field.value,'')%></a><% }
    else { %><a <%-xejs.showProp('data-id',field.name)%> data-model="<%=model.id%>" href="#" style="<%=field.controlstyle%>" class="xform_ctrl xelem<%=model.class%> <%=field.name%> <%=field.controlclass%> xform_label <%=xejs.iif(field.value,'xform_label_static')%>" onclick="<%-js(field.onclick)%>"><%=xejs.ifnull(field.value,'')%></a><% }
  }
  if(field.control=='tree'){
    %><div data-id="<%=field.name%>" style="<%=field.controlstyle%>" class="<%=field.name%> xform_ctrl xelem<%=model.class%> tree <%=field.controlclass%>"></div><%
    if(('controlparams' in field) && ('item_context_menu' in field.controlparams)){
      %><div data-id="_item_context_menu_<%=field.name%>" class="_item_context_menu_<%=field.name%> xform_context_menu xcontext_menu"><%
      for(var j=0;j<field.controlparams.item_context_menu.length;j++){ var menu_item = field.controlparams.item_context_menu[j];
        if(xejs.getActions(model.actions,field.actions,menu_item.actions)){ %><a href="#" class="<%=menu_item.class%>" onclick="<%-instance%>.$root('.xcontext_menu').hide(); var context_item = <%-instance%>.xContextMenuItem; return (function(){<%-jslocals%><%-menu_item.command%>}).call(this)||false;"><img src="/images/icon_<%=menu_item.icon%>.png" /><%=menu_item.text%></a><% }
      }
      %></div><%
    }
  }
  if(field.control=='checkbox'){ %><div class="xform_ctrl xform_checkbox_container xelem<%=model.class%>"><input data-id="<%=field.name%>" type="checkbox" style="<%=field.controlstyle%>" class="<%=field.name%> xform_ctrl checkbox xelem<%=model.class%> <%=field.controlclass%>" /></div><% }
  //Add a hidden field for field value if it is both static and updatable
  if(XExt.hasAction(field.actions,'IU') && _.includes(['html','label','linkbutton','button'],field.control)){
    %><input data-id="<%=field.name%>_field_value" type="hidden" class="<%=field.name%>_field_value xform_ctrl xelem<%=model.class%>" value="<%=xejs.GetValue(field)%>" /><%
  }
  if(field.popuplov){ %><a href="#" data-id="<%=field.name%>_xlookup" class="<%=field.name%>_xlookup xform_ctrl xlookup icon" style="<%=field.controlparams.popupiconstyle%>" data-codeval="<%=field.controlparams.codeval%>" data-model="<%=model.id%>" onclick="(function(){<%-jslocals%> jsh.XExt.popupShow('<%=field.model.id%>','<%=field.name%>','<%=field.caption_ext||field.caption%> Selection',undefined,this,{OnControlUpdate:function(obj,e){ xmodel.controller.form.Data.OnControlUpdate(obj,e); }}) }).call(this); return false;"><img src="/images/icon_search.png" /></a>
    <% 
    var popup_model = null;
    if(_.isString(field.model)) popup_model = field.model;
    else {
      popup_model = _.extend({},field.model);
      popup_model.hide_system_buttons = _.union(popup_model.hide_system_buttons,['export']); 
      popup_model.inlinepopup = 1;
    }
    %>
    <div style="display:none;">
      <div class="xsubform xpopup xelem<%=model.class%> popup_<%=field.name%>">
        <div class="xpanel" style="<%=field.controlparams.popupstyle%>">
	        <%-jsh.Render(popup_model,model,field)%>
        </div>
      </div>
    </div>
    <%
  }
  if('eol' in field){ %><br/><% }
  if(field.control!='hidden'){ leadingfield = false; }
} 
%>