<% 
var button_groups = {};
if('buttons' in model) for(var i=0;i<model.buttons.length;i++){ 
  var button = model.buttons[i];
  if(button.nl){ %><br/><% }
  if(button.group && !(button.group in button_groups)){
    button_groups[button.group] = 1;
    %><a href="#" data-group="<%=button.group%>" data-model="<%=model.id%>" onclick="<%-instance%>.XPage.ShowButtonGroup(event,this); return false;" data-model="<%=model.id%>" class="xform_button xelem<%=model.class%> xactions_dropdown xform_button_group_<%=xejs.onlyAlphaNum(button.group)%>"><span class="xform_button_caption"><%-xejs.escapeHTMLN(button.group)%></span><span class="material-icons down_arrow">&#xE313;</span></a><%
  }
  %><a href="<%-button.link%>" data-url="<%-button.link%>" data-group="<%=button.group%>" data-model="<%=model.id%>" onclick="return (function(){<%-jslocals%><%-button.onclick%>}).call(this);" data-actions="<%-button.actions%>" style="<%-xejs.visible(XExt.hasAction(button.actions,'BIUD'))%><%-button.style%>" data-model="<%=model.id%>" class="xform_button xelem<%=model.class%> <%=xejs.iif(button.name,'xform_button_'+xejs.onlyAlphaNum(button.name))%> xbutton_<%=xejs.onlyAlphaNum(button.text)%> <%=button.class%> <%-xejs.iif(button.nl,'first')%> <%-xejs.iif(button.group,'grouped')%>"><% if(button.icon){ %><img src="<%-jsh._PUBLICURL%>images/icon_<%=button.icon%>.png" alt="<%=button.text%>" title="<%=button.text%>" /><% } %><span><%-xejs.escapeHTMLN(button.text)%></span></a><%
}
%>