<div class="xbodyhead xelem<%=model.class%>">
<% if(model.topmost) { %><!--%%%EJSPREPEND%%%--><% } %>
<% if(!model.topmost && (model.title !== undefined) && model.title) { %>
<h1 class="xtitle xelem<%=model.class%> xtitle_level2"><%-xejs.iif((model.title.indexOf('<'+'#') < 0),XExt.escapeHTML(model.title),'&nbsp;')%></h1>
<% } %>
<% if(model.topmost || (model.layout == 'form-m') || model.buttons || model.duplicate){ %>
<div class="xactions <%=xejs.case(model.topmost,'top',(model.layout == 'form-m'),'','secondaryform')%> xelem<%=model.class%>">
  <% if(model.layout == 'form-m') { %>
    <a href="#" onclick="<%-js('xmodel.controller.form.NavFirst();')%>" class="navbar"><img src="<%-jsh._PUBLICURL%>images/icon_first.png" alt="First" title="First" /></a>
    <a href="#" onclick="<%-js('xmodel.controller.form.NavPrev();')%>" class="navbar"><img src="<%-jsh._PUBLICURL%>images/icon_prev.png" alt="Prev" title="Prev" /></a>
    <div class="navtext navtext_<%=model.class%>">1 of 1</div>
    <a href="#" onclick="<%-js('xmodel.controller.form.NavNext();')%>" class="navbar"><img src="<%-jsh._PUBLICURL%>images/icon_next.png" alt="Next" title="Next" /></a>
    <a href="#" onclick="<%-js('xmodel.controller.form.NavLast();')%>" class="navbar"><img src="<%-jsh._PUBLICURL%>images/icon_last.png" alt="Last" title="Last" /></a>
    <a href="#" onclick="<%-js('xmodel.controller.form.NavAdd();')%>" style="<%-xejs.visible(XExt.hasAction(model.actions,'I'))%>"><img src="<%-jsh._PUBLICURL%>images/icon_insert.png" alt="Add" title="Add" />Add</a>
    <a href="#" onclick="<%-js('xmodel.controller.form.NavDelete();')%>" style="<%-xejs.visible(XExt.hasAction(model.actions,'D'))%>"><img src="<%-jsh._PUBLICURL%>images/icon_delete.png" alt="Delete" title="Delete" />Delete</a>
  <% } %>
  <%-jsh.RenderView('jsh_buttons',ejsparams)%>
  <% if(model.topmost){ %>
    <a href="#" class="save <%=(model.topmost?'top':'')%>" onclick="<%-instance%>.XPage.Save();return false;" style="display:none;"><img src="<%-jsh._PUBLICURL%>images/icon_save.png" alt="Save" title="Save" />Save</a>
    <% if(model.layout != 'form-m') { %><a href="#" class="delete <%=(model.topmost?'top':'')%>" onclick="<%-instance%>.XPage.Delete();return false;" style="display:none;"><img src="<%-jsh._PUBLICURL%>images/icon_delete.png" alt="Delete" title="Delete" />Delete</a><% } %>
    <a href="#" onclick="<%-instance%>.XPage.Print(); return false;" style="<%-xejs.visible(xejs.showSystemButton(model,'print'))%>"><img src="<%-jsh._PUBLICURL%>images/icon_print.png" alt="Print" title="Print" />Print</a>
    <a href="<%-model.helpurl%>" onclick="<%-js(model.helpurl_onclick)%>" style="<%-xejs.visible(xejs.showSystemButton(model,'help'))%>"><img src="<%-jsh._PUBLICURL%>images/icon_help.png" alt="Help" title="Help" />Help</a>
  <% } %>
</div><% if(model.topmost){ %><div class="xactions_spacer"></div><% } %>
<% } %>
<% if(model.layout == 'form-m') { %>
  <div class="clear clear_form_m_body"></div>
  <% if(XExt.hasAction(model.actions, 'I')){ %>
    <div class="xnorecords xelem<%=model.class%>" style="display:none;"><a href="#" onclick="<%-js('xmodel.controller.form.NavAdd();')%>">Add <%=model.caption[1]%></a></div>
  <% } else { %>
    <div class="xnorecords xelem<%=model.class%>" style="display:none;">No <%=model.caption[2]%></div>
  <% } %>
<% } else { %>
  <% if(parentfield && XExt.hasAction(model.actions, 'I') && parentfield.controlparams && parentfield.controlparams.insert_link){ %>
    <div class="xnorecords xelem<%=model.class%>" style="display:none;"><a href="<%-parentfield.controlparams.insert_link%>" onclick="<%-js(parentfield.controlparams.insert_link_onclick,{ returnFalse:0 })%>"><img src="<%-jsh._PUBLICURL%>images/icon_insert.png" alt="Add" title="Add" />Add <%=model.caption[1]%></a></div>
  <% } else { %>
    <div class="xnorecords xelem<%=model.class%>" style="display:none;">No <%=model.caption[1]%></div>
  <% } %>
<% } %>
</div><!-- .xbodyhead -->
<div class="xformcontainer xelem<%=model.class%>">
<div class="xform xelem<%=model.class%> xform<%=model.class%> <%=xejs.iif(model.onecolumn,'onecolumn')%> <%=model.formclass||''%>" data-id="<%=model.id%>" style="<%=model.formstyle%>">
<%-jsh.RenderView('jsh_embed.js',ejsparams)%>
<%-jsh.RenderEJS(model.header,ejsparams)%>
<%-jsh.RenderView('jsh_controls',ejsparams)%>
<% if(model.duplicate){
  var popup_model = null;
  if(_.isString(model.duplicate.model)) popup_model = model.duplicate.model;
  else {
    popup_model = _.extend({},model.duplicate.model);
    popup_model.hide_system_buttons = _.union(popup_model.hide_system_buttons,['export']); 
    popup_model.inlinepopup = 1;
  }
  %>
  <div style="display:none;">
    <div class="xsubform xpopup xelem<%=model.class%> popup_<%=model.class%>_duplicate">
      <div class="xpanel" style="<%=model.duplicate.popupstyle%>">
        <%-jsh.Render(popup_model,model,model.duplicate)%>
        <div style="text-align:center;padding-top:8px;">
          <input type="button" data-model="<%=popup_model.id%>" class="xform_ctrl xelem<%=popup_model.class%>" style="padding:3px 8px;" value="Duplicate" onclick="<%-instance%>.XPage.Duplicate('<%=popup_model.id%>','<%-XExt.escapeHTMLQ(XExt.escapeJS(model.duplicate.link_on_success))%>','<%-XExt.escapeHTMLQ(XExt.escapeJS(model.duplicate.link_options_on_success))%>'); return false;" />
          <input type="button" data-model="<%=popup_model.id%>" class="xform_ctrl xelem<%=popup_model.class%>" style="padding:3px 8px;" value="Cancel" onclick="<%-instance%>.$.colorbox.close(); return false;" />
        </div>
      </div>
    </div>
  </div>
<% } %>
<%-jsh.RenderEJS(model.ejs,ejsparams)%>
</div><!-- xform -->
</div><!-- xformcontainer -->