<div class="xtabcontrol xtabcontrol<%=model.class%> initialized">
<div><%-head%></div>
<%-jsh.RenderView('jsh_tabs_controls',ejsparams)%>
<div class="xpanel" style="<%-model.tabpanelstyle%>">
<div><%-body%><div style="clear:both;"></div></div>
</div>
</div>