<% if(!model.topmost && (model.title)) { %>
<h1 class="xtitle xelem<%=model.class%>" style="display:inline-block;padding:0px 0 20px 0;"><%-xejs.iif((model.title.indexOf('<'+'#') < 0),XExt.escapeHTML(model.title),'&nbsp;')%></h1>
<% } %>
<% if(model.topmost){ %>
<div class="xactions top xelem<%=model.class%>">
  <a href="#" class="save" onclick="<%-instance%>.XPage.Save();return false;" style="display:none;"><img src="<%-jsh._PUBLICURL%>images/icon_save.png" alt="Save" title="Save" />Save</a>
  <a href="#" class="delete" onclick=""<%-instance%>.XPage.Delete();return false;" style="display:none;"><img src="<%-jsh._PUBLICURL%>images/icon_delete.png" alt="Delete" title="Delete" />Delete</a>
  <a href="#" onclick=""<%-instance%>.XPage.Print(); return false;"><img src="<%-jsh._PUBLICURL%>images/icon_print.png" alt="Print" title="Print" />Print</a>
  <a href="<%-model.helpurl%>" onclick="<%-js(model.helpurl_onclick)%>"><img src="<%-jsh._PUBLICURL%>images/icon_help.png" alt="Help" title="Help" />Help</a>
</div>
<% } %>
<%-jsh.RenderView('jsh_embed.js',ejsparams)%>
<%  
var lovfield = '';
for(var i=0;i<model.fields.length;i++){ 
  var field = model.fields[i];
  if(field.lov){ 
    if(lovfield != '') throw new Error('Can only have one LOV per Multisel.');
    lovfield = field.name; 
  }
}
if(lovfield == '') throw new Error('Multisel requires one LOV.');
%>
<table class="xtbl xelem<%=model.class%> xform<%=model.class%>" data-id="<%=model.id%>">
	<thead>
  	<tr>
      <th>Select</th>
      <% for(var i=0;i<model.fields.length;i++){ var field = model.fields[i]; 
	    if(!('caption' in field)) continue; 
      if(!('actions' in field)) continue; 
      if(field.control=='hidden') continue;
      if(!XExt.hasAction(field.actions,'B')) continue;
	    %>
      <th nowrap><%=field.caption%></th>
      <% } %>
		</tr>
	</thead>
	<tbody class="xmultisel_<%=model.class%>_placeholder">
    <% for(var j=0;j<datatable.length;j++){ let datarow=datatable[j]; let data = datarow; %>
    <tr class="<%=(j%2==1?'even':'odd')%>">
      <td align="center"><input type="checkbox" /></td>
      <% for(var i=0;i<model.fields.length;i++){ var field = model.fields[i]; if(!('caption' in field)) continue; if(field.control=='hidden') continue; %>
      <td><%=data[field.name]%></td>
      <% } %>
    </tr>
    <% } %>
	</tbody>
  <script class="xmultisel_<%=model.class%>_template" type="text/x-ejs-template">
    <%% for(var j=0;j<datatable.length;j++){ let datarow=datatable[j]; let data = datarow; %%>
    <tr class="<%%=(j%2==1?'even':'odd')%%>">
      <td align="center" style="vertical-align:middle;"><div class="xform_ctrl xform_checkbox_container xelem<%=model.class%>"><input type="checkbox" class="xselitem xform_ctrl checkbox xelem<%=model.class%> <%-xejs.iif(!XExt.hasAction(model.actions,'IU'),'uneditable','editable')%>" value="<%%=data[jsh.uimap.code_val]%%>" <%-xejs.iif(!XExt.hasAction(model.actions,'IU'),'disabled="disabled"')%> <%% if(data['<%=lovfield%>']!==null){ %%>checked="checked"<%% } %%> data-orig-checked="<%% if(data['<%=lovfield%>']!==null){ %%>checked<%% } %%>" /></div></td>
    <% for(var i=0;i<model.fields.length;i++){ var field = model.fields[i]; 
      if(!('caption' in field)) continue; 
      if(!('actions' in field)) continue; 
      if(field.control=='hidden') continue;
      if(!XExt.hasAction(field.actions,'B')) continue;
      var format = 'undefined';
      if('format' in field) format = JSON.stringify(field.format);
      %>
      <td style="<%=field.cellstyle%>" class="<%=field.cellclass%>"><div style="<%=field.controlstyle%>" class="<%=field.controlclass%>">
        <% if('link' in field){ %><a href="<%-field.link%>" onclick="<%-js(field.link_onclick)%>"><% } %>
        <% if('value' in field){ %>
          <%-field.value%>
        <% } else { %>
          <span onclick="<%-js('$(this).closest("tr").find(".checkbox").click();')%>"><%%=<%-instance%>.XFormat.Apply(<%-format%>,data[<%-xejs.iif(field.name==lovfield,'jsh.uimap.code_txt',"'"+xejs.escapeJS(field.name)+"'")%>])%%></span>
        <% } %>
        <% if('link' in field){ %></a><% } %>
      </div></td>
      <% } %>
    </tr>
    <%% } %%>
  </script>
</table>