<div class="xtabcontrol" id="xtabcontrol<%=model.id%>"">
<%-jshRenderEJS('jsh_tabs_controls',ejsparams)%>
<div class="xpanel" style="<%-model.tabpanelstyle%>">
<div><%-head%></div>
<div><%-body%><div style="clear:both;"></div></div>
</div>
</div>