<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<title><%=jsh.Config.app_name%> - <%= title %></title>
<link href='/fonts/jsHarmonyFonts.css' rel='stylesheet' type='text/css' />
<link rel="stylesheet" type="text/css" href="<%-req.baseurl%>application.css" />
<script type="text/javascript" src="/js/jsHarmony.js"></script>
<script type="text/javascript">var <%-req.jshsite.instance%> = new jsHarmony(<%-req.getJSClientParams()%>);</script>
<script type="text/javascript" src="<%-req.baseurl%>application.js"></script>
</head>

<body style="background:none;" class="popup">
<div class="xmain" style="min-width:0px;">

<div class="xbody" style="min-height:0px;">
<% if(title){ %><h1 style="display:inline-block;" class="xform_title"><%= title %></h1><% } %>
<%- body %>
</div><!-- xbody -->

<div class="clear"></div>
</div><!--xmain-->
</body>
</html>